.sidebar {
  width: 200px;
  height: 100%;
  transition: 150ms;
  transform: translateX(-120px);
  position: fixed;
  top: 0;
  left: 0;
  background-color: #4e6cff;
  overflow: hidden;
}

.sidebar:hover {
  transform: translateX(0);
}

.logoWrapper {
  transition: 500ms;
  margin-top: 40px;
  display: flex;
}

.sidebar:hover .logoWrapper {
  transition: 500ms;
}

#logo {
  transition: 300ms;
  margin: auto;
}

.sidebar:hover #logo {
  width: 100px;
  height: 110px;
}
